
__pycache__/

dist
build

tf_reggae.egg-info/

.idea/

.DS_Store

lafomo.egg-info/

deprecated/

data/

# Fenics:
jitfailure-*
ffc_element*

# Sphinx docs
/docs/_build/

pull.sh
alfi/ndp_datasets.py
