
__pycache__/

dist
build

alfi.egg-info/

.idea/

.DS_Store

deprecated/

data/

# Fenics:
jitfailure-*
ffc_element*

# Sphinx docs
/docs/_build/

pull.sh
alfi/ndp_datasets.py

venv/
.tox/
