
__pycache__/

dist
build

tf_reggae.egg-info/

.idea/

.DS_Store

*.pt
*.npy
lafomo.egg-info/

deprecated/saved_models/

data/

# Fenics:
jitfailure-*
ffc_element*

# Sphinx docs
/docs/_build/

pull.sh
lafomo/ndp_datasets.py
